{% extends 'base.html' %}

{% block content %}

<h1> {{ article.title }}  </h1>

<p>
    시간: {{article.time}}
</p>

<p>
   장소: {{article.place}}
</p>

<p>
    메모: {{article.memo}}
</p>

<div>
    <form action="{% url 'day:delete' article.pk %}" method ="POST">
        {% csrf_token %}
        <button onclick="return confirm('Are you sure to delete?')"> 
            delete </button>

    </form>

</div>

<div>
    <a href="{% url 'day:edit' article.pk %}">
        <button>edit</button>
    </a>
</div>



{% endblock content %}
