{% extends 'base.html' %}

{% block content %}

<h1> New Article </h1>

<form action="" method = "POST">
    {% csrf_token %}

    {{ form.as_p}}


{% comment %} <div>
    <label for="title">일정명:</label>
    <input type="text" id = "title" name="title" value = "{{article.title}}">
</div>

<div>
    <label for="time">시간:</label>
    <input type="int" id = "time" name="time" value = "{{article.time}}">
</div>

<div>
    <label for="palce">장소:</label>
    <input type="text" id = "place" name="place" value = "{{article.place}}">
</div>

<div>
    <label for="memo">메모:</label>
    <textarea name="memo" id="memo" cols="30" rows="10">{{article.memo}}</textarea>

</div> {% endcomment %}

<div>
    <input type="submit">

</div>

</form>

{% endblock content %}